[Unit]
Description=Seminario 1 HT1 - API 1 (Node.js)
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/HT1/api-1
Environment=PORT=3000
Environment=CARNET=202300644
Environment="ESTUDIANTE=Jeremy Estuardo Orellana Aldana"
ExecStart=/usr/bin/node server.js
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
